{% extends 'base.html.twig' %}

{% block title %}Test Symfony{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="offset-2 col-lg-8 mt-5">
                <h1 class="text-center">Homepage</h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-lg-8 my-5">
                {% include 'item/_form_ajax.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
