@import "variables"
@import "./bootswatch/_variables.scss"
@import "~bootstrap/scss/bootstrap"
@import "~bootstrap-select/sass/bootstrap-select"
@import "./bootswatch/_bootswatch.scss"
@import "~@fortawesome/fontawesome-free/css/all.css"
@import "../fonts/icomoon/style.css"

@font-face
  font-family: 'EldarRunes'
  src: url("../fonts/eldar_runes.ttf") format("truetype")

$font-eldar: 'EldarRunes', sans-serif

.font-eldar
  font-family: $font-eldar

.font-lg
  @include font-size(1.6rem)

.loading
  & > .stable
    display: none

  & > .working
    display: inline-block

  .disabled
    pointer-events: none !important

.loader
  & > .stable
    display: inline-block

  & > .working
    display: none

.btn.btn-inline-form
  padding:
    top: 0.5rem
    bottom: 0.5rem
  text-transform: none

.nav-account
  & > .nav-item
    &:hover
      & > a
        background-color: $gray-200
        color: $primary
    & > a
      border: solid 1px $gray-400
      &.active
        background-color: $primary
        color: $secondary