@import "variables"
@import "./bootswatch/_variables.scss"
@import "~bootstrap/scss/bootstrap"
@import "~bootstrap-select/sass/bootstrap-select"
@import "./bootswatch/_bootswatch.scss"
@import "~@fortawesome/fontawesome-free/css/all.css"
@import "../fonts/icomoon/style.css"

@font-face
  font-family: 'EldarRunes'
  src: url("../fonts/eldar_runes.ttf") format("truetype")

$font-eldar: 'EldarRunes', sans-serif

.font-eldar
  font-family: $font-eldar